{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block body %}


	{# <form method="post"> #}
	<div id="id01" class="modal">
		<form class="modal-content animate"  method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					You are logged in as
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}

			{# <div class="imgcontainer">
				<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
				<img src="img_avatar2.png" alt="Avatar" class="avatar">
			</div> #}

			<div class="container loginPage">
				<label for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

				<label for="inputPassword">Password</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

				<button type="submit">Login</button>
				<label>
					<input type="checkbox" checked="checked" name="remember">
					Remember me
				</label>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			</div>
		<a class="btn btn-lg btn-primary" href="{{ '/register' }}">Inscrivez-vous !</a>
		</form>
	</div>


{% endblock %}
