{% extends 'base.html.twig' %}

{% block title %}Dropkick{% endblock %}

{% block body %}

<body>


    <div align="center">

        <div id="slidertype1" class='slide' style="display:none">

            <img src="{{asset('uploads/Orleans.jpg')}}" alt="orleans">
        </div>


        <div id="slidertype2" class='slide' style="display:none">

            <img src="{{asset('uploads/troyes.jpg')}}" alt="troyes">
        </div>


        <div id="slidertype3" class='slide' style="display:none">

            <img src="{{asset('uploads/reims.jpg')}}" alt="reims">
        </div>


    </div>

</body>


{% for pub in pubs %}
    
    <a href="{{ path('pubs_show', {'id': pub.id}) }}">{{pub.cityPub}}</a>

{% endfor %}


{% endblock %}