{% extends 'base.html.twig' %}

{% block title %}Dropkick{% endblock %}

{% block body %}

    <section class="pageHome navbarMargin">

    <div align="center">

        <div id="slidertype1" class='slide' style="display:none">

            <img src="{{asset('uploads/Orleans.jpg')}}" alt="orleans">
        </div>


        <div id="slidertype2" class='slide' style="display:none">

            <img src="{{asset('uploads/troyes.jpg')}}" alt="troyes">
        </div>


        <div id="slidertype3" class='slide' style="display:none">

            <img src="{{asset('uploads/reims.jpg')}}" alt="reims">
        </div>
    </div>

    <div class="blocLienPubs">
        <div class="lienPub">
        {% if app.user is same as null %}
              {% for pub in pubs %}
        <div class="lienPub">
            <a href="{{ path('pubs_show', {'id': pub.id}) }}" class="cityPub">{{pub.cityPub}}</a>
        </div>
        {% endfor %}
        {% else %}  
        <p>Mon Dropkick : </p>
        <p>{{app.user.pubs.cityPub}} </p>
              {% for pub in pubs %}
        {% if app.user.pubs.cityPub is same as pub.cityPub %}


            <a href="{{ path('pubs_show', {'id': pub.id}) }}" class="cityPub">{{pub.cityPub}}</a>

        {% endif %}
             {% endfor %}
        {% endif %}
   

        </div>
    </div>
</section>







{% endblock %}