{% extends 'base.html.twig' %}


{% block title %}Dropkick
{% endblock %}

{% block body %}

	<section class="pageHome">
		<div align="center" class="containerSlider">
			<div id="slidertype1" class='slide' style="display:none">
				<img src="{{asset('uploads/Orleans.jpg')}}" alt="orleans">
			</div>
			<div id="slidertype2" class='slide' style="display:none">
				<img src="{{asset('uploads/troyes.jpg')}}" alt="troyes">
			</div>
			<div id="slidertype3" class='slide' style="display:none">
				<img src="{{asset('uploads/reims.jpg')}}" alt="reims">
			</div>
			<div class="container-fluid carousselCarte">
				<div class="blocTextCarte">
					<div class="textCarte text1">Un large choix</div>
					<div class="textCarte text2">Poutines Burgers Hot-dog</div>
					{% if app.user is same as null %}
						<div class="textCarte text3">
							<a onclick="document.getElementById('id01').style.display='block'" class="nav-link navH btn btn-success" href="{{ '/login' }}">Commander</a>
						</div>
					</div>
				{% else %}
					{% for pub in pubs %}
						{% if app.user.pubs.cityPub is same as pub.cityPub %}
							<div class="textCarte text3">
								<a href="{{ path('pubs_show', {'id': pub.id}) }}" class="lienCaroussel">
									Je commande</a>
							</div>
						</div>

					{% endif %}
				{% endfor %}
			{% endif %}
			<div class="row blocDetailPub">
				<div class="textCarteLeft">Bieres pressions</div>
				<div class="textCarteLeft">Selection de whiskys rhums</div>
				<div class="textCarteLeft">Cocktails shooters</div>
				<div class="textCarteLeft">Flechettes/jeux</div>
			</div>
		</div>

	</div>

	<div class="blocLienPubs">
		<div class="lienPub">
			<div class="container-fluid blocSelectPub">
				{% if app.user is same as null %}
					<div class="row commandeDropkick">
						<a href="{{ path('products_index')}}" class="cityPub">
							Commander</a>
					</div>
					<div class="row cardDropkick">
						<div class="uploadCard">Telecharger notre carte</div>
						<div class="lieuPub">
							{% for pub in pubs %}

								<div class="lieu">
									<a href="{{ asset('uploads/brochures/' ~ pub.cardPdf) }}">{{pub.cityPub}}</a>
								</div>

							{% endfor %}
						</div>
					</div>
				</div>


			{% else %}
				{% for pub in pubs %}
					{% if app.user.pubs.cityPub is same as pub.cityPub %}
						<div class="row commandeDropkick">
							<a href="{{ path('pubs_show', {'id': pub.id}) }}" class="cityPub">
								Je commande dans mon Dropkick :{{pub.cityPub}}</a>
						</div>
						<div class="row cardDropkick">
							<div class="uploadCard">
								<a href="{{ asset('uploads/brochures/' ~ pub.cardPdf) }}">Telecharger notre carte</a>
							</div>
						</div>

					{% endif %}
				{% endfor %}
			{% endif %}
		</div>
	</div>
</section>


<section class="container-fluid blocCarousselProduct">
	<div class="row">
		<div class="col-md-12 titleProductstar">Nos plats preferes</div>
	</div>
	<div class="row">

		<ul id="c" class="carousselProduct liCarousselProduct">
			{% for product in products %}
				{% if product.productStar %}

					<li class="liCaroussel">
						<p class="blocImgCaroussel">
							<img class="imgCarousselProductStar" src="{{ asset('uploads/photos/' ~ product.imgProduct) }}">
						</p>
						<p class="pImgCaroussel">{{ product.nameProduct }}</p>
					</li>
				{% endif %}

			{% endfor %}
		</ul>
	</div>


</section>

{% for presentation in presentation %}
	<section class="container-fluid presentation">
		<div class="row rowPresentation">
			<div class="col-md-4 blocPresentation blocPresentationTitle blocPresentationTitleLeft">
				{{ presentation.titleLeft|raw }}
			</div>
			<div class="col-md-8 blocPresentation blocPresentationText blocPresentationTextRight">
				<div class="textRight">
					{{ presentation.textRight|raw }}
				</div>
			</div>
		</div>

		<div class="row rowPresentation">
			<div class="col-md-8 blocPresentation blocPresentationText blocPresentationTextLeft">
				<div class="textLeft">
					{{ presentation.textLeft|raw }}
				</div>
			</div>
			<div class="col-md-4 blocPresentation blocPresentationTitle blocPresentationTitleRight">
				{{ presentation.titleRight|raw }}
			</div>
		</div>
	</section>
{% endfor %}


<section class="sports color-body">
	<div class="lienActu  container-fluid">
		<a href="{{ path('events_index')}}" class="ActuPub">
			Nos actualites et evenements</a>
	</div>


	<div class="container-fluid">
		<div class="row blocS">
			<div class="col-md-4"><img class="imgS" src="{{asset('uploads/sports/basket.jpg')}}" alt=""></div>
			<div class="col-md-4"><img class="imgS" src="{{asset('uploads/sports/euro.jpg')}}" alt=""></div>
			<div class="col-md-4"><img class="imgS" src="{{asset('uploads/sports/fa.jpg')}}" alt=""></div>

		</div>
	</div>

</section>{% endblock %}
