{% extends 'base.html.twig' %}

{% block title %}Dropkick{% endblock %}

{% block body %}


    <section class="pageHome">


    <div align="center" class="containerSlider">
        <div id="slidertype1" class='slide' style="display:none">
            <img src="{{asset('uploads/Orleans.jpg')}}" alt="orleans">
        </div>
        <div id="slidertype2" class='slide' style="display:none">
            <img src="{{asset('uploads/troyes.jpg')}}" alt="troyes">
        </div>
        <div id="slidertype3" class='slide' style="display:none">
           <img src="{{asset('uploads/reims.jpg')}}" alt="reims">
        </div>
        <div class="container-fluid carousselCarte">
                <div class="textCarte">Large choix de poutines burgers hot-dog</div>
                 <div class="textCarte">Bières pressions</div>
                 <div class="textCarte">Sélection de whiskys rhums</div>
                 <div class="textCarte">Cocktails shooters</div>
                 <div class="textCarte">Fléchettes/jeux</div>
        </div>

        
{# ========== on dégage la div pour l'instant========== #}
        {# <div class="container-fluid carousselCarte">
            <div class="lienCarte">Poutines</div>
            <div class="lienCarte">Menus</div>
            <div class="lienCarte">Starters</div>
            <div class="lienCarte">Desserts</div>
        </div> #}

    </div>

    <div class="blocLienPubs">
        <div class="lienPub">
        <div class="container-fluid">
            {% if app.user is same as null %}
                <div class="row">
                    <a href="{{ path('products_user_index')}}" class="cityPub"> Commander</a>
                </div>
            <div class="row">
                <div class="uploadCard">Télécharger notre carte</div>
                <div class="lieuPub">
                    {% for pub in pubs %}

                        <div class="lieu"><a href="{{ asset('uploads/brochures/' ~ pub.cardPdf) }}">{{pub.cityPub}}</a></div>

                    {% endfor %}
                </div>
            </div>
        </div>


        {% else %}  
                {% for pub in pubs %}
        {% if app.user.pubs.cityPub is same as pub.cityPub %}
            <div class="row">
                <a href="{{ path('pubs_show', {'id': pub.id}) }}" class="cityPub"> Je commande dans mon Dropkick :{{pub.cityPub}}</a>
            </div>
            <div class="row">
                    <div class="uploadCard"><a href="{{ asset('uploads/brochures/' ~ pub.cardPdf) }}">Télécharger notre carte</a></div>
            </div>

        {% endif %}
                {% endfor %}
        {% endif %}

   

        </div>
    </div>
    </section>




        <section class="container-fluid blocCarousselProduct">
    <div class="row">
            
            <ul id="c" class="carousselProduct"> 
                {% for product in products %}
                    {% if product.productStar %}
                    
                    <li>
                        <p class="blocImgCaroussel">
                            <img class="imgCarousselProductStar" src="{{ asset('uploads/photos/' ~ product.imgProduct) }}">
                        </p>
                        <p>{{ product.nameProduct }}</p>
                    </li>
                    {% endif %}
                
                {% endfor %}
            </ul>
        </div>


    </section>

    {% for presentation in presentation %}
        <section class="presentation container">
            <div class="row">
                <div class="col-md-4 blocPresentation blocPresentationTitle">
                {{ presentation.titleLeft|raw }}
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6 blocPresentation">
                    {{ presentation.textRight|raw }}            
                </div>
            </div>
                    <div class="row">

            </div>
            
        </section>
        <section class="presentation container">
            <div class="row">
                <div class="col-lg-6 blocPresentation">
                    {{ presentation.textLeft|raw }}
                </div>
                <div class="col-md-1"></div>
                <div class="col-lg-4 blocPresentation blocPresentationTitle">
                    {{ presentation.titleRight|raw }}
                </div>
            </div>

        </section>
    {% endfor %}



        <section class="sports color-body container-fluid">
        <div class="lienPub">
            <a href="{{ path('events_index')}}" class="cityPub"> Nos actualités et evénements</a>
        </div>


      <div class="container-fluid">
         <div class="row blocS">
            <div class="col-md-4"><img class="imgS" src="{{asset('uploads/sports/basket.jpg')}}" alt=""></div>
            <div class="col-md-4"><img class="imgS" src="{{asset('uploads/sports/euro.jpg')}}" alt=""></div>
            <div class="col-md-4"><img class="imgS" src="{{asset('uploads/sports/fa.jpg')}}" alt=""></div>

         </div>
      </div>
              
      
         </section>
        
   

    <section class="carousselFooter">

       


    </section>






{% endblock %}