{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<section class="pageRegsitration navbarMargin">

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.firstNameUser) }}
        {{ form_row(registrationForm.lastNameUser) }}
        {{ form_row(registrationForm.addressUser) }}
        {{ form_row(registrationForm.cityUser) }}
        {{ form_row(registrationForm.cpUser) }}

      {{ form_row(registrationForm.password.first) }}
    {{ form_row(registrationForm.password.second) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
</section>

{% endblock %}
