{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<section class="pageRegsitration navbarMargin">

		<h1>Register</h1>

		<div id="id01" class="modal">
			<form class="modal-content animate" method="post">
			{{ form_start(registrationForm) }}
				<div class="container loginPage">
					<label>Email</label>
					{{ form_widget(registrationForm.email) }}
					<label>Prénom</label>
					{{ form_widget(registrationForm.firstNameUser) }}
					<label>Nom</label>
					{{ form_widget(registrationForm.lastNameUser) }}
					<label>Adresse</label>
					{{ form_widget(registrationForm.addressUser) }}
					<label>Ville</label>
					{{ form_widget(registrationForm.cityUser) }}
					<label>Code Postal</label>
					{{ form_widget(registrationForm.cpUser) }}
					<label>Mot de passe</label>
					{{ form_widget(registrationForm.password.first) }}
					<label>Confirmer le mot de passe</label>
					{{ form_widget(registrationForm.password.second) }}
					<label>Choisir votre pub le Dropkick</label>
					{{ form_widget(registrationForm.pubs) }}
                    <div>
					<label>Accepter les conditions générales</label>
					{{ form_widget(registrationForm.agreeTerms) }}
                    </div>


					<button type="submit" class="btn">Valider les informations</button>
                    </form>
					{{ form_end(registrationForm) }}

				</div>

			</section>

		{% endblock %}
