{% extends 'base.html.twig' %}

{% block title %}Products index{% endblock %}

{% block body %}
<section class="pageProduct navbarMargin container-fluid">
    <div class="pageProdOpacite">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="">Dropkick Bar</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">Troyes Orléans Reims</div>
            <div class="col-lg-4"></div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <table>
                        <thead>
                            <tr>
                                <th>Catégories</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nom</td>
                            </tr>
                            <tr>
                                <td>Image</td>
                            </tr>
                            <tr>
                                <td>Prix</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        <table class="table">
            <thead>
                <tr>
                    <th>NameProduct</th>
                    <th>imgProduct</th>
                    <th>PriceProduct</th>
                    <th>ContentProduct</th>
                    <th>Category</th>
                    <th>Pub</th>
                    {% if (is_granted('ROLE_ADMIN')) %}
                    <th>actions</th>
                    {% endif %}

                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.nameProduct }}</td>
                    <td><img src="{{ asset('uploads/photos/' ~ product.imgProduct) }}" width="100"></td>
                    <td>{{ product.priceProduct }}</td>
                    <td>{{ product.contentProduct }}</td>
                    <td>{{ product.categories.nameCategory }}</td>

                    <td>
                        {{product.pub.namePub}}
                    </td>

                    {% if (is_granted('ROLE_ADMIN')) %}
                    <td>
                        <a href="{{ path('products_show', {'id': product.id}) }}">show</a>
                        <a href="{{ path('products_edit', {'id': product.id}) }}">edit</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% if (is_granted('ROLE_ADMIN')) %}
        <a href="{{ path('products_new') }}">Create new</a>
        {% endif %}

    </div>
</section>
{% endblock %}