{% extends 'base.html.twig' %}

{% block title %}Products index{% endblock %}

{% block body %}
<section class="pageProduct navbarMargin container-fluid">
    <div class="pageProdOpacite">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="">Dropkick Bar</h1>
            </div>
      <div class="cardUser container-fluid">
          <div class="container">
              <div class="row rowModif">
                {% for product in products %}

                    <div class="col-md-4 blocProduct">
                        <div class="blocArticle">
                            <div class="row">
                                <div class="row blocProductSansBtn">
                                        <div class="col-md-4">
                                            <div class="imgProduct"><img src="{{ asset('uploads/photos/' ~ product.imgProduct) }}" width="100"></div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="titleProduct">{{ product.nameProduct }}</div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="priceProduct">{{ product.priceProduct }} €</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="contentProduct">{{ product.contentProduct }}</div>
                                            </div>
                                </div>
                                        </div>  
                                        <div class="col-md-12 blocBtnProduct">
                                            <a class="btn btn-success btnProduct inscription" href="#">Ajouter au panier</a>
                                        </div>    
                            </div>
                        </div>
                    </div>     
                    {% endfor %}
                </div>
            </div>


    </div>

            <script>
            console.log($('.inscription'));
                $( '.inscription' ).click(function() {
              if (confirm( "Merci de vous inscrire" )) {
                        console.log('test');
                        window.open('{{ path("app_login") }}');
            
              };	
            });
            </script>
</div>
</section>

{% endblock %}