{% extends 'base.html.twig' %}

{% block title %}Products index{% endblock %}

{% block body %}
<section class="pageProduct navbarMargin container-fluid">
    <div class="pageProdOpacite">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="">Dropkick Bar</h1>
            </div>
      <div class="cardUser container-fluid">
          <div class="container">
        {% if (is_granted('ROLE_ADMIN')) %}
                <div class="col-md-12 blocCategory"><a href="{{ path('products_new') }}">Create new product</a></div>
        {% endif %}

              <div class="row">

              {% for category in categories %}
                    {% if (is_granted('ROLE_ADMIN')) %}
                <div class="row">

                <div class="col-md-6 blocCategory">{{category.nameCategory}}</div>
                <div class="col-md-6 blocCategory admimCategory"><a href="{{ path('categories_edit', {'id': category.id}) }}">Modifier</a></div>
                </div>
            
                    {% else %}
                <div class="row">
                <div class="col-md-12 blocCategory">{{category.nameCategory}}</div>
                </div>

                    {% endif %}

                {% for product in products %}
                {% if product.categories.id is same as category.id %}
                
                {# <pre>
                    {{ dump(product.categories.nameCategory) }}
                </pre> #}

                    <div class="col-md-4 blocProduct">
                        <div class="blocArticle">
                            <div class="row">
                                <div class="row blocProductSansBtn">
                                        <div class="col-md-4">
                                            <div class="imgProduct"><img src="{{ asset('uploads/photos/' ~ product.imgProduct) }}" width="100"></div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="titleProduct">{{ product.nameProduct }}</div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="priceProduct">{{ product.priceProduct }} €</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="contentProduct">{{ product.contentProduct }}</div>
                                            </div>
                                </div>
                                        </div>  
                                        {% if product.productStar %}
                                        <div class="col-md-12 blocProductStar">
                                            <p class="ProductStar">Affichage page d'accueil</a>
                                        </div>   
                                        {% endif %}
                                        {% if (is_granted('ROLE_ADMIN')) %}
                
                                        <div class="row btnProductAdmin">

                                            <div class="col-md-6 productAdmin">
                                            <a href="{{ path('products_show', {'id': product.id}) }}">Voir</a>
                                            </div>
                                            <div class="col-md-6 productAdmin">
                                            <a href="{{ path('products_edit', {'id': product.id}) }}">Modifier</a>
                                            </div>
                                        </div>
                                        {% endif %}
                            </div>
                        </div>
                    </div>     
                    {% endif %}
                    {% endfor %}
              {% endfor %}
                </div>
            </div>


    </div>

            <script>
            console.log($('.inscription'));
                $( '.inscription' ).click(function() {
              if (confirm( "Merci de vous inscrire" )) {
                        console.log('test');
                        window.open('{{ path("app_login") }}');
            
              };	
            });
            </script>
</div>
</section>

{% endblock %}