{% extends 'base.html.twig' %}

{% block title %}Presentation index
{% endblock %}

{% block body %}
	<h1>Presentation index</h1>

	{% for presentation in presentations %}
		<section class="presentation container">
			<div class="row">
				<div class="col-md-4 blocPresentation blocPresentationTitle">
					{{ presentation.titleLeft|raw }}

				</div>
				<div class="col-md-1"></div>
				<div class="col-md-6 blocPresentation">
					{{ presentation.textRight|raw }}

				</div>
			</div>
			<div class="row"></div>

		</section>
		<section class="presentation container">
			<div class="row">
				<div class="col-lg-6 blocPresentation">
					{{ presentation.textLeft|raw }}
				</div>
				<div class="col-md-1"></div>
				<div class="col-lg-4 blocPresentation">
					{{ presentation.titleRight|raw }}
				</div>
			</div>

		</section>

		<a href="{{ path('presentation_edit', {'id': presentation.id}) }}">edit</a>

	{% endfor %}
{% endblock %}
