{% extends 'base.html.twig' %}

{% block title %}Pubs index{% endblock %}

{% block body %}
<section class="pagePub navbarMargin">

    <h1>Pubs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NamePub</th>
                <th>ImgPub</th>
                <th>ContentPub</th>
                <th>cityPub</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pub in pubs %}
            <tr>
                <td>{{ pub.id }}</td>
                <td>{{ pub.namePub }}</td>
                <td><img src="{{ asset('uploads/photos/' ~ pub.imgPub) }}" width="100"></td>
                <td>{{ pub.contentPub }}</td>
                <td>{{ pub.cityPub }}</td>
                <td>
                    <a href="{{ path('pubs_show', {'id': pub.id}) }}">show</a>
                    <a href="{{ path('pubs_edit', {'id': pub.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <a href="{{ path('pubs_new') }}">Create new</a>
</section>

{% endblock %}
