

{% extends 'base.html.twig' %}

{% block title %}Pubs index{% endblock %}

{% block body %}
<section class="pagePub navbarMargin">

    <h1>Nos pubs</h1>

        {% for pub in pubs %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
                        <div class="pubName">{{ pub.namePub }}</div>
                        <div class="pubAddress">{{ pub.addressPub }} {{ pub.cpPub }} {{ pub.cityPub }}</div>
                        <div class="pubPhone">{{ pub.phonePub }}</div>
                        <div class="pubImg"><img src="{{ asset('uploads/photos/' ~ pub.imgPub) }}"></div>
                        <div class="pubContent">{{ pub.contentPub }}</div>
                    </div>
                    <div class="col-md-3 schedulePub">
                        <div>{{ pub.schedulePub|raw }}</div>
                    </div>
                    <div class="col-md-4 iFramePub">
                        {{ pub.iframePub|raw }}
                    </div>
                </div>
            {% endfor %}
        </section>
{% endblock %}
