{% extends 'base.html.twig' %}

{% block title %}Pubs{% endblock %}

{% block body %}
    <h1>Pubs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pub.id }}</td>
            </tr>
            <tr>
                <th>NamePub</th>
                <td>{{ pub.namePub }}</td>
            </tr>
            <tr>
                <th>ImgPub</th>
                <td>{{ pub.imgPub }}</td>
            </tr>
            <tr>
                <th>ContentPub</th>
                <td>{{ pub.contentPub }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pubs_index') }}">back to list</a>

    <a href="{{ path('pubs_edit', {'id': pub.id}) }}">edit</a>

    {{ include('pubs/_delete_form.html.twig') }}
{% endblock %}
