<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>
			{% block title %}Dropkick
			{% endblock %}
		</title>
		<!--FONTS-->
		{# ../public/font #}
		<!-- ICONS --><script src="https://kit.fontawesome.com/e6187d3d12.js" crossorigin="anonymous"> </script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<!-- STRIPE -->
		<script src="https://js.stripe.com/v3/"></script>


		{% block stylesheets %}
			<!-- LINKS -->
			<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
			<link rel="stylesheet" href="{{ asset('css/style.css')}}">

			<style>/**
         * The CSS shown here will not be introduced in the Quickstart guide, but shows
         * how you can use CSS to style your Element's container.
         */</style>


	{% endblock %}

	{% block javascripts %}

		{#{{ encore_entry_script_tags('app') }}#}
	{% endblock %}
</head>

<body>
	<header>
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark">

			<a onclick="document.getElementById('id01').style.display='block'" class="navbar-brand navH btn btn-success" href="{{ '/login' }}" style="display:none">Commander</a>
			<button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="nav-item-img nav-item-img-mob" style="display: none">

				{% if (is_granted('ROLE_USER')) %}
					{% if uuid.getFullCart %}
						{# ===================== LOGO PANIER REMPLIS GIF MOBILE ===================== #}
						<div class="navH iconDesktop-mobile">
							<a class="nav-link" href="{{ ('/cart') }}"><img src="{{ asset('uploads/logoNavbar/cart.gif')}}" class="logoNavBar logoNavBarGif"></a>
						</div>
					{% else %}
						{# ===================== LOGO PANIER REMPLIS GIF MOBILE ===================== #}
						<div class="navH iconDesktop-mobile">
							<a class="nav-link" href="{{ ('/cart') }}"><img src="{{ asset('uploads/logoNavbar/cart.png')}}" class="logoNavBar logoNavBarGif"></a>
						</div>
					{% endif %}
					{# ===================== ICON COMPTE USER EDIT MOBILE ===================== #}
					<div class="navH iconDesktop-mobile">
						<a class="nav-link" href="{{ path('user_edit', {id: app.user.id})}}">
							<i class="fas fa-user logoNavBar"></i>
						</a>
					</div>
					{# ===================== ICON LOGOUT MOBILE ===================== #}
					<div class="navH iconDesktop-mobile">
						<a class="nav-link" href="{{ ('/logout') }}">
							<i class="fas fa-sign-out-alt" class="logoNavBar"></i>
						</div>
					{% endif %}
					{# ===================== ICON LOGO MOBILE TOUT STATUT ===================== #}
					<a href="{{ path('home') }}" class="bloc-img-logo bloc-img-logo-mob">
						<img src="{{asset('uploads/logo.png')}}" class="imgLogo" alt="logo">
					</a>
				</div>
				<div class="collapse navbar-collapse navBar" id="navbarNavDropdown">
					<ul class="navbar-nav" id="navbarNavDropdownUL">
						<li
							class="nav-item-img">
							{# ===================== ICON LOGO DESKTOP TOUT STATUT ===================== #}
							<a href="{{ path('home') }}" class="bloc-img-logo">
								<img src="{{asset('uploads/logo.png')}}" class="imgLogo" alt="logo">
							</a>
						</li>
						{% if (is_granted('ROLE_ADMIN')) %}
							{# ===================== LIEN ADMIN ===================== #}
							<li class="nav-item nav-item-bc navH">
								<a class="nav-link" href="{{ path('homeAdmin') }}">Mon administration</a>
							</li>
						{% endif %}
						{% if (is_granted('ROLE_USER')) %}
							{# ===================== LIEN USER CONNECTE ===================== #}
							<li class="nav-item nav-item-bc navH">
								<a class="nav-link" href="{{ path('pubs_index') }}">Nos Pubs</a>
							</li>
							<li class="nav-item nav-item-bc navH">
								<a class="nav-link" href="{{ path('pubs_show', {'id': app.user.pubs.id})}}">La carte</a>
							</li>
							<li class="nav-item nav-item-bc navH">
								<a class="nav-link" href="{{ path('events_index') }}">Evenements</a>
							</li>
							<li class="nav-item nav-item-bc navH dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Suivez nous sur nos reseaux !
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="https://www.facebook.com/ledropkickbartroyes">Troyes</a>
									<a class="dropdown-item" href="https://www.facebook.com/ledropkickbarorleans">Orleans</a>
									<a class="dropdown-item" href="https://www.facebook.com/ledropkickbar">Reims</a>
								</div>
							</li>

							{# ===================== NAVIGATION PANIER ===================== #}
							{% if uuid.getFullCart %}
								<section class="cart-mobile">
									<div class="bloc-connexion-mobile">
										<div class="blocCo"></div>
										<div class="bloc-connexion">
											{# ========= WRITER ANIMATION PANIER MEMPLIS========= #}
											<li class="nav-item navH navBonApp">
												<p>Bon appétit
													{{app.user.firstNameUser}}</p>
											</li>
											{# ========= GIF PANIER REMPLIS ========= #}
											<li class="nav-item navH iconDesktop">
												<a class="nav-link" href="{{ ('/cart') }}"><img src="{{ asset('uploads/logoNavbar/cart.gif')}}" class="logoNavBar logoNavBarGif"></a>
											</li>
										{% else %}
											<section class="cart-mobile">
												<div class="bloc-connexion-mobile">
													<div class="blocCo"></div>
													<div class="bloc-connexion ">
														<li class="nav-item navH iconDesktop navBonApp">
															{# ========= WRITER ANIMATION PANIER VIDE========= #}
															<p>Bienvenue {{app.user.firstNameUser}}</p>
														</li>
														{# ========= GIF PANIER VIDE========= #}
														<li class="nav-item navH iconDesktop">
															<a class="nav-link" href="{{ ('/cart') }}"><img src="{{ asset('uploads/logoNavbar/cart.png')}}" class="logoNavBar logoNavBarGif"></a>
														</li>
													{% endif %}
													{# ===================== ICON COMPTE USER EDIT DESKTOP===================== #}
													<li class="nav-item navH iconDesktop">
														<a class="nav-link" href="{{ path('user_edit', {id: app.user.id})}}">
															<i class="fas fa-user logoNavBar"></i>
														</a>
													</li>
													{# ===================== ICON LOGOUT DESKTOP ===================== #}
													<li class="nav-item navH iconDesktop">
														<a class="nav-link" href="{{ ('/logout') }}">
															<i class="fas fa-sign-out-alt" class="logoNavBar"></i>
														</a>
													</li>
												</div>
											</ul>
										</div>
									</section>


								{% else %}
								{# ===================== PAS D'UTILISATEUR CONNECTE ===================== #}
									<li class="nav-item nav-item-bc navH">
										<a class="nav-link" href="{{ path('pubs_index') }}">Nos Pubs</a>
									</li>
									<li class="nav-item nav-item-bc navH">
										<a class="nav-link" href="{{ path('products_index') }}">La carte</a>
									</li>
									<li class="nav-item nav-item-bc navH">
										<a class="nav-link" href="{{ path('events_index') }}">Nos Events</a>
									</li>
									<li class="nav-item nav-item-bc navH dropdown dropdownTitle">
										<a class="nav-link dropdown-toggle dropdownTitle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Suivez nous sur nos reseaux !
										</a>
										<div class="dropdown-menu" aria-labelledby="navbarDropdown">
											<a class="dropdown-item" href="https://www.facebook.com/ledropkickbartroyes">Troyes</a>
											<a class="dropdown-item" href="https://www.facebook.com/ledropkickbarorleans">Orléans</a>
											<a class="dropdown-item" href="https://www.facebook.com/ledropkickbar">Reims</a>
										</div>
									</li>

									<div class="nav-item navH typewriter">
										<h2>Bienvenue au Dropkick !</h2>
									</div>
								{# ===================== BOUTON HEADER DESKTOP COMMANDER CONNECTER ===================== #}
									<div class="nav-item btnCommander">
										<a onclick="document.getElementById('id01').style.display='block'" href="{{ '/login' }}">Commander</a>
									</div>
								</ul>
							</nav>
						{% endif %}
					</header>
					{# {% if (is_granted('ROLE_USER')) %}
															{% if uuid.getFullCart %}
															<section class="cart-mobile">
																<div class="bloc-connexion-mobile" >
																	<div class="navH navBonApp-mobile">
																		<p>Bon appetit
																			{{app.user.firstNameUser}}</p>
																	</div>
									
																	<div class="navH iconDesktop-mobile">
																		<a class="nav-link" href="{{ ('/cart') }}"><img src="{{ asset('uploads/logoNavbar/cart.gif')}}" class="logoNavBar logoNavBarGif"></a>
																	</div>
																		{% else %}
															<section class="cart-mobile">
																<div class="bloc-connexion-mobile" >
																	<div class="navH iconDesktop navBonApp-mobile">
																			<p>Bienvenue
																				{{app.user.firstNameUser}}</p>
																	</div>
																	<div class="navH iconDesktop-mobile">
																			<a class="nav-link" href="{{ ('/cart') }}"><img src="{{ asset('uploads/logoNavbar/cart.png')}}" class="logoNavBar logoNavBarGif"></a>
																	</div>
																	{% endif %}
																	<div class="navH iconDesktop-mobile">
																			<a class="nav-link" href="{{ path('user_edit', {id: app.user.id})}}"><img src="{{ asset('uploads/logoNavbar/compte.png')}}" class="logoNavBar"></a>
																	</div>
																	<div class="navH iconDesktop-mobile">
																			<a class="nav-link" href="{{ ('/logout') }}"><img src="{{ asset('uploads/logoNavbar/deconnexion.png')}}" class="logoNavBar"></a>
																	</div>
																</div>
															</section>
																	{% endif %} #}


					{% block body %}{% endblock %}

					{# ===================== FOOTER ===================== #}

					<div id="scrollUp">
						<a href="#top"><img src="{{asset('uploads/to_top.png')}}"/></a>
					</div>
					<footer class="bg-blacktext-centertext-white">
						<div class="container p-4 containerFooter">
							<section class="mb-4">
								<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
									<i class="fab fa-facebook-f"></i>
								</a>
								<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
									<i class="fab fa-twitter"></i>
								</a>
								<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
									<i class="fab fa-instagram"></i>
								</a>
							</section>
							<section class="mb-4 fontFooter">
								<p>
									Suivez nos actualites sur nos reseaux !
								</p>
							</section>
							<section class="">
								<div class="row">
									<div class="col-lg-4 col-md-6 mb-4 mb-md-0 fontFooter">
										<h5 class="text-uppercase">La carte</h5>
									</div>
									<div class="col-lg-4 col-md-6 mb-4 mb-md-0 fontFooter">
										<h5 class="text-uppercase">Nos Pubs</h5>
									</div>
									<div class="col-lg-4 col-md-6 mb-4 mb-md-0 fontFooter">
										<h5 class="text-uppercase">Nos events</h5>
									</div>
								</div>
							</section>
						</div>
						<div class="text-center p-3 containerFooter" style="background-color: rgba(0, 0, 0, 0.2);">
							<div>
								<a href="{{ path('rgpd') }}">Mentions légales et confidentialité</a>
							</div>
						</div>
					</footer>
					<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
					<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
					<script src="//code.jquery.com/jquery.js"></script>
					<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
					<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
					<script src="{{asset('js/app.js')}}"></script>
					<script src="{{asset('js/client.js')}}"></script>
					<script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
					<script type="text/javascript">
						$(function () {
$('.datepicker').datepicker();
});
					</script>
					{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
				</body>
			</html>
