<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>

        <!--FONTS-->

        <!-- ICONS -->
        <script src="https://kit.fontawesome.com/e6187d3d12.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css')}}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        {% endblock %}

        {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>

    <body>

        <header>
            
            {% if (is_granted('ROLE_ADMIN')) %}
            <section class="navBarAdmin">
            {% else %}
            <section class="navBar">
            {% endif %}

                <nav id="mynav" class="navbar fixed-top navbar-expand-lg ">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav ms-auto nav">
                                <a href="{{ path('home') }}"> <img src="{{asset('uploads/logo.jpg')}}" href="{{ path('home') }}" class="imgLogo" alt="logo"></a>

                                {% if (is_granted('ROLE_ADMIN')) %}
                                <h2>Administration</h2>
                                <a class="nav-link navHAdmin" href="{{ path('categories_index') }}">Catégories</a>
                                <a class="nav-link navHAdmin" href="{{ path('pubs_index') }}">Pubs</a>
                                <a class="nav-link navHAdmin" href="{{ path('products_index') }}">Produits</a>
                                <a class="nav-link navHAdmin" href="{{ path('user_index') }}">Utilisateurs</a>
                                {% endif %}
                                {% if (is_granted('ROLE_USER')) %}
                                <a class="nav-link navH" href="{{ path('home') }}">Nos Pubs</a>
                                <a class="nav-link navH" href="{{ path('pubs_show', {'id': app.user.pubs.id})}}"> La carte</a>
                                <a class="nav-link navH" href="{{ path('events_index') }}">Evènements</a>
                                <a class="nav-link navH" href="{{ ('/cart') }}">Panier</a>
                                <a class="nav-link navH" href="{{ path('user_edit', {id: app.user.id})}}">Mon compte</a>
                                <a class="nav-link navH" href="{{ ('/logout') }}">Déconnexion</a>

                                {% else %}
                                <a class="nav-link navH" href="{{ path('pubs_index') }}">Nos Pubs</a>
                                <a class="nav-link navH" href="{{ path('products_index') }}">La carte</a>
                                <a class="nav-link navH" href="{{ path('events_index') }}">Nos Events</a>
                                <a class="nav-link navH btn btn-success" href="{{ '/login' }}">Commander</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </nav>
            </section>
        </header>

        {% block body %}{% endblock %}
        <script src="//code.jquery.com/jquery.js"></script>
        <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
        <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
        <script src="{{asset('js/app.js')}}"></script>
        {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
    </body>

</html>