{% extends 'admin.html.twig' %}

{% block title %}Events index{% endblock %}

{% block body %}

<section class="pageEvent navbarMargin">

    {% if (is_granted('ROLE_ADMIN')) %}
    <div class="row">
        <a href="{{ path('events_new') }}" class="btn btn-primary createEvent">Créer un nouveau événement</a>
    </div>

    {% endif %}

    {% for event in events %}
    <div class="container blocEvent">
        <div class="row">
            <div class="col-md-3 blocEventImg">
                <img src="{{ asset('uploads/photos/' ~ event.imgEvent) }}" width="300">
            </div>
            <div class="col-md-9 ">
                <div class="row">
                {{ event.nameEvent }}
                </div>
                <div class="row">
                {{ event.dateEvent ? event.dateEvent|date("d/m/Y") : '' }}
                </div>
                <div class="row blocEventContent">
                {{ event.contentEvent|raw }}
                </div>
            </div>
        </div>
            {% if (is_granted('ROLE_ADMIN')) %}
            <div class="row blocLienEventEdit">
                <div class="col-md-6 lienEventEdit">
                    {{ include('events/_delete_form.html.twig') }}
                </div>
                <div class="col-md-6 lienEventEdit">
                   <button><a href="{{ path('events_edit', {'id': event.id}) }}">Modifier</a></button>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}




</section>
    

{% endblock %}
