{% extends 'base.html.twig' %}

{% block title %}Events index{% endblock %}

{% block body %}

<section class="pageEvent navbarMargin">


    
    {% for event in events %}
    <div class="container blocEvent">
        <div class="row">
            <div class="col-md-3 blocEventImg">
                <img src="{{ asset('uploads/photos/' ~ event.imgEvent) }}" width="300">
            </div>
            <div class="col-md-9 ">
                <div class="row">
                {{ event.nameEvent }}
                </div>
                <div class="row">
                {{ event.dateEvent ? event.dateEvent|date('Y-m-d H:i:s') : '' }}
                </div>
                <div class="row blocEventContent">
                {{ event.contentEvent|raw }}
                </div>
            </div>
        </div>
            {% if (is_granted('ROLE_ADMIN')) %}
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ path('events_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('events_edit', {'id': event.id}) }}">edit</a>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}


    {% if (is_granted('ROLE_ADMIN')) %}
        <a href="{{ path('events_new') }}">Create new</a>
    {% endif %}


</section>
    

{% endblock %}
