{% extends 'base.html.twig' %}

{% block title %}Les évènements
{% endblock %}

{% block body %}

<section class="container-fluid pageEvent navbarMargin">
    {% for pub in pubs %}
    <div class="row cityEvent">
        {{ pub.cityPub }}
    </div>
    <div class="row containerEvent">
        {% for event in events %}
        {% if event.pubs.id is same as pub.id %}
        <div class="col-md-5 blocEvent">
            <div class="row">
                <div class="row">
                    {{ event.nameEvent }}
                </div>
                <div class="row">
                    {{ event.dateEvent ? event.dateEvent|date("d/m/Y") : '' }}
                </div>
                <div class="row blocEventContent">
                    {{ event.contentEvent|u.truncate(300, '   ...')|raw }}
                </div>
                <div class="row">
                   <a href="{{ event.fbEvent}}" class="lienFbEvent">Voir sur facebook</a>
                </div>
            </div>
            <div class="row blocEventImg">
                <div class="col-md-12">
                    <img src="{{ asset('uploads/photos/' ~ event.imgEvent) }}" class="imgEvent">
                </div>
            </div>
        </div>
        {% endif %}

        {% endfor %}
    </div>

    {% endfor %}


</section>{% endblock %}